html, body {
  background-color: #505050;
  color: white;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

#loginBody {
  background-color: #323232;
}

#loginContent {
  background-color: #8B0000;
  display: flex;
  height: 300px;
  margin-top: 15%;
}

nav {
  background-color: #8B0000;
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  height: 50px;
  position: absolute;
  width: 100%;
}

.navlink {
  color: white;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-right: 10px;
  padding-top: 15px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  border-bottom-color: #8B0000;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.navlink a:hover {
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 4px;
  padding-bottom: 12px;
  transition: border-bottom-color .65s ease-in-out;
}

.loginForm {
  display: block;
  font-size: 20px;
  height: 300px;
  margin: auto;
  text-align: center;
}

.profileForm {
  height: 300px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  width: 450px;
}

.title {
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 72px;
  margin-bottom: 15px;
}

#user, #user1, #user2, #pass, #pass1, #pass2 {
  border-radius: 2px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

#user:focus, #user1:focus, #user2:focus, #pass:focus, #pass1:focus, #pass2:focus {
  box-shadow: 0px 0px 1px 2px #BB0000;
  outline: none;
}

#name, #age, #fColor {
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

#name:focus, #age:focus, #fColor:focus {
  box-shadow: 0px 0px 1px 2px #BB0000;
  outline: none;
}

.formChange {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 10px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.formSubmit {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.formChange:focus, .formSubmit:focus, .pal:focus {
  outline: 0; /*Prevents blue outlines on buttons*/
}

.formChange:active, .formChange:hover, .formChange:link, .formChange:visited, .formSubmit:active, .formSubmit:hover, .formSubmit:link, .formSubmit:visited, {
  color: white;
}

.formChange:hover, .formSubmit:hover {
  background-color: #BB0000;
  transition: background-color 0.4s ease;
}

#errorMessage {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-top: 5px;
  font-style: italic;
  text-shadow: 0px 0px 1px red, 0px 0px 1px red, 0px 0px 1px red, 0px 0px 1px red;
}

#settingsSidebar {
  background-color: #BB0000;
  border-right: solid;
  border-right-color: white;
  border-right-width: 2px;
  box-sizing: border-box; /*Border inside element*/
  float: left;
  height: 100%;
  padding-top: 50px;
  width: 160px;
}

settingsNav {
  background-color: #8B0000;
  margin: auto;
  width: 100%;
}

.settingsNavlink button, .settingsNavlink button:link, .settingsNavlink button:visited, .settingsNavlink button:hover, .settingsNavlink button:active {
  background-color: #BB0000;
  border: none;
  border-left: solid;
  border-left-color: #BB0000;
  border-left-width: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
}

.settingsNavlink button:hover {
  border-left: solid;
  border-left-color: white;
  border-left-width: 4px;
  transition: border-left-color .65s ease-in-out;
}

.settingsNavlink button:focus, #myPals button:focus, #allPals button:focus {
  outline: 0;
}

#settingsMain {
  background-color: #323232;
  height: 95%;
  margin-left: 160px;
  padding-top: 40px;
  width: 100%;
}

#settingsTriBelow {
  background-color: #323232;
  display: inline;
  height: 95%;
  margin: auto;
  width: 100;
}

.settingsTitle {
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 48px;
  margin-bottom: 15px;
  margin-top: 15%;
}

label {
  color: white;
  display: inline-block;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  margin-left: -50px;
  margin-right: 10px;
  text-align: right;
  width: 200px;
}

/*.clear {
  float: none;
}*/

#pageContent {
  background-color: #323232;
  height: 100%;
  margin: auto;
  /*overflow: hidden;*/
  width: 80%;
}

#profilePhotoDiv {
  background-color: #BB0000;
  float: left;
  max-height: 252px;
  padding-top: 51px;
  width: 20%;
}

#profilePhoto {
  display: block;
  max-height: 252px;
  margin: auto;
  max-width: 252px;
  vertical-align: middle;
}

#basicInfo {
  background-color: #323232;
  display: block;
  margin-left: 20%;
  padding-top: 51px;
  max-height: 252px;
  width: 80%;
}

#nameLabel, #nameBI, #ageLabel, #ageBI, #colorLabel, #colorBI {
  float: left;
  overflow-wrap: break-word;
  width: 33.3%;
}

#nameLabel, #ageLabel, #colorLabel {
  background-color: #BB0000;
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 35%;
  text-align: center;
}

#nameBI, #ageBI, #colorBI {
  background-color: #323232;
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: white;
  font-family: 'Play', sans-serif;
  height: 65%;
  text-align: center;
}

#nameLabel, #nameBI, #colorLabel, #colorBI {
  border-left: solid;
  border-left-color: white;
  border-left-width: 2px;
  border-right: solid;
  border-right-color: white;
  border-right-width: 2px;
  box-sizing: border-box;
}

#games {
  background-color: #323232;
  float: left;
  width: 100%;
}

#myPals, #allPals {
  background-color: #BB0000;
  box-sizing: border-box;
  color: white;
  display: block;
  float: left;
  font-family: 'Raleway', sans-serif;
  height: 50px;
  margin-top: 51px;
  text-align: center;
  width: 50%;
}

#myPals button, #myPals button:link, #myPals button:visited, #myPals button:hover, #myPals button:active, #allPals button, #allPals button:link, #allPals button:visited, #allPals button:hover, #allPals button:active {
  background-color: #BB0000;
  border: none;
  border-bottom: solid;
  border-bottom-color: #BB0000;
  border-bottom-width: 4px;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 8px;
  padding: 5px;
  padding-bottom: 9px;
  text-decoration: none;
}

#myPals button:hover, #allPals button:hover {
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 4px;
  transition: border-bottom-color .65s ease-in-out;
}

#allPals {
  border-left: solid;
  border-left-color: white;
  border-left-width: 1px;
}

#info {
  background-color: #BB0000;
  border-top: solid;
  border-top-color: white;
  border-top-width: 1px;
  box-sizing: border-box;
  color: white;
  display: block;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  height: 20px;
  margin: auto;
  overflow-y: auto;
  text-align: center;
  width: 100%;
}

#pals {
  background-color: #323232;
  display: block;
  height: 90%;
  margin: auto;
  overflow-y: auto;
  width: 100%;
}

/*
.domoForm {
  background-color: #8B0000;
  border-color: white;
  border-width: 2px;
  height: 35px;
  margin-top: 0px;
  padding-top: 10px;
  width: 700px;
}

.domoForm label {
  color: white;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  margin-left: 10px;
  width: 75px;
}

.domoForm input[type=text] {
  float:left;
}

.makeDomoSubmit {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  display: inline;
  height: 20px;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 90px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
  color: white;
}

.makeDomoSubmit:hover {
  background-color: #BB0000;
  transition: background-color 0.4s ease;
}*/

/*#domo {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  height: 450px;
  margin-left: 135px;
  margin-top: -20px;
  transform: rotate(330deg);
  width: 300px;
  z-index: 225;
}*/

.pal {
  background-color: #505050;
  border: 2px solid #8B0000;
  color: white;
  display: block;
  font-family: 'Play', sans-serif;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  min-height:60px;
  overflow: hidden;
  padding: 10px;
  width: 95%;
}

.pal:hover {
  border-color: #BB0000;
  cursor: pointer;
  transition: border-color .65s ease-in-out;
}

img.palIcon {
  border: 2px solid #8B0000;
  float:left;
  height: 50px;
  margin-left: 25px;
  margin-right: 10px;
  margin-top:10px;
  width: 50px;
}

.pal:hover img.palIcon {
  border-color: #BB0000;
  transition: border-color .65s ease-in-out;
}

h3.emptyPal {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  width: 400px;
}

h3.palName {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 65px;
  width: 200px;
}

h3.palAge {
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 40px;
  text-align: left;
  width: 100px;
}

.pal:first-child {
  margin-top: 10px;
}

.pal:last-child {
  margin-bottom:10px;
}