/**/
html, body {
  background-color: #323232;
  color: white;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
/**/
/*#content {
  background-color: #8B0000;
  display: flex;
  height: 300px;
  margin-top: 15%;
}*/
/**/
#loginContent {
  background-color: #8B0000;
  display: flex;
  height: 300px;
  margin-top: 15%;
}

/*#logo {
  border-radius: 8px;
  float:left;
  height: 40px;
  padding-top: 5px;
  width: 40px;
}*/
/**/
nav {
  background-color: #8B0000;
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  height: 50px;
  margin-top: -2px;
  width: 100%;
}
/**/
/*nav:nth-child(1) {
  padding-left: 25px;
}*/
/**/
.navlink {
  color: white;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /*padding: 5px;*/
  margin-right: 10px;
  padding-top: 15px;
}
/**/
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  border-bottom-color: #8B0000;
  color: white;
  padding: 5px;
  text-decoration: none;
}
/**/
.navlink a:hover {
  border-bottom: solid;
  border-bottom-color: white;
  border-bottom-width: 4px;
  padding-bottom: 12px;
  transition: border-bottom-color .65s ease-in-out;
}

.domoForm {
  background-color: #8B0000;
  border-color: white;
  border-width: 2px;
  height: 35px;
  margin-top: 0px;
  padding-top: 10px;
  width: 700px;
}

.domoForm label {
  color: white;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  margin-left: 10px;
  width: 75px;
}

.domoForm input[type=text] {
  float:left;
}

.makeDomoSubmit {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  display: inline;
  height: 20px;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 90px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
  color: white;
}

.makeDomoSubmit:hover {
  background-color: #BB0000;
  transition: background-color 0.4s ease;
}
/**/
.loginForm {
  display: block;
  font-size: 20px;
  height: 300px;
  margin: auto;
  text-align: center;
}
/**/
.title {
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 72px;
  margin-bottom: 15px;
}
/**/
#user, #pass, #pass2 {
  border-radius: 6px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 180px;
}
/**/
#user:focus, #pass:focus, #pass2:focus {
  box-shadow: 0px 0px 1px 2px #BB0000;
  outline: none;
}
/**/
.formChange {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 10px;
  padding: 3px 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 100px;
}
/**/
.formSubmit {
  background-color: #8B0000;
  border-color: white;
  border-radius: 2px;
  border-width: 1px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  padding: 3px 0px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 100px;
}
/**/
.formChange:active, .formChange:hover, .formChange:link, .formChange:visited, .formSubmit:active, .formSubmit:hover, .formSubmit:link, .formSubmit:visited, {
  color: white;
}
/**/
.formChange:hover, .formSubmit:hover {
  background-color: #BB0000;
  transition: background-color 0.4s ease;
}
/**/
#errorMessage {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-top: 5px;
  font-style: italic;
  text-shadow: 0px 0px 1px red, 0px 0px 1px red, 0px 0px 1px red, 0px 0px 1px red;
}
/**/
#settingsSidebar {
  background-color: #BB0000;
  border-right: solid;
  border-right-color: white;
  border-right-width: 2px;
  box-sizing: border-box; /*Border inside element*/
  /*display: flex;*/
  float: left;
  height: 95%;
  width: 11%;
}
/**/
settingsNav {
  background-color: #8B0000;
  margin: auto;
  width: 100%;
}
/**/
.settingsNavlink {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
/**/
.settingsNavlink button, .settingsNavlink button:link, .settingsNavlink button:visited, .settingsNavlink button:hover, .settingsNavlink button:active {
  background-color: #8B0000;
  border-left: solid;
  border-left-color: #BB0000;
  border-left-width: 4px;
  color: white;
  margin-bottom: 0px;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
}
/**/
.settingsNavlink button:hover {
  border-left: solid;
  border-left-color: white;
  border-left-width: 4px;
  transition: border-left-color .65s ease-in-out;
}
/**/
#settingsMain {
  background-color: #323232;
  display: flex;
  float: right;
  height: 95%;
  vertical-align: middle;
  width: 89%;
}

/*#domoMessage {
  display:none;
  height: 650px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 250px;
  width: 250px;
  z-index: 200;
}

#domoMessage h3 {
  left: 20px;
  position: absolute;
  top: 0px;
  width: 200px;
}

#speech {
  height: 120px;
  width: 250px;
  z-index:300;
}

#errorMessage {
  color: red;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}
*/

#domo {
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  height: 450px;
  margin-left: 135px;
  margin-top: -20px;
  transform: rotate(330deg);
  width: 300px;
  z-index: 225;
}

#domos {
  width: 40%;
  min-width: 400px;
  border-color: #8B0000;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  margin: 0 auto;
  margin-top: 100px;
}

.domo {
  background-color: #606060;
  border: 2px solid #606060;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-top: 2px;
  min-height:60px;
  overflow: hidden;
  padding: 10px;
  width: 95%;
}

.domo:hover {
  background-color: #707070;
  border-color: rgba(255, 255, 255, 0.8);
  transition: background-color 2.6s ease-out;
  transition: border-color 0.2s ease-out;
}

img.domoFace {
  border-radius: 4px;
  float:left;
  height: 50px;
  margin-left: 25px;
  margin-right: 10px;
  margin-top:10px;
  width: 50px;
}

h3.emptyDomo {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 18px;
  text-align: center;
  width: 400px;
}

h3.domoName {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 65px;
  width: 200px;
}

h3.domoAge {
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 40px;
  text-align: left;
  width: 100px;
}

.domo:first-child {
  margin-top: 10px;
}

.domo:last-child {
  margin-bottom:10px;
}